


.unseen,.dash,.glass{
    &:hover,&.disabled{
        background-color: unset;
    }
    &.primary{
        color: var(--primary);
        &:hover{
            color: var(--primary-hover);
        }
    }
    &.success{
        color: var(--success);
        &:hover{
            color: var(--success-hover);
        }
    }
    &.info{
        color: var(--info);
        &:hover{
            color: var(--info-hover);
        }
    }
    &.warning{
        color: var(--warning);
        &:hover{
            color: var(--warning-hover);
        }
    }
    &.error{
        color: var(--error);
        &:hover{
            color: var(--error-hover);
        }
    }
    &.tertiary{
        color: var(--tertiary);
        &:hover{
            color: var(--tertiary-hover);
        }
    }
}