


.w-button {

&.eft-none{
    &:active{
        transform: translate(0,0);
    }
}
&.eft-text{
    &.disabeld{
        color: red !important;
    }
    &:active:not(.disabled){
        transform: translate(0,0);
        padding-top: 13px;
        padding-bottom: 7px;
        padding-left: 11px;
        padding-right: 9px;
    }
}
&.eft-rotate{
    transition: transform 1.5s ease;
    &:active:not(.disabled){
        transition: transform 10s ease;

        transform: translate(0,0) rotate(3600deg);
    
    }
}
&.eft-biger{
    &:active:not(.disabled){
        transform: translate(0,0) scale(1.25);
    
    }
}
&.eft-small{
    &:active:not(.disabled){
        transform: translate(0,0) scale(0.75);
    }
}


}
