
@use  './colors.scss' as *;
@use './theme.scss' as *;
@use 'sass:meta';

$i:0;
@while $i<=1920{
   
    .w-#{$i}{
        width: #{$i}px !important;
    }
    .h-#{$i}{
        height: #{$i}px !important;
    }



    $i:$i+1
}
$i:0;
@while $i<=500{
    .p-#{$i}{
        padding: #{$i}px !important;
    }
    .m-#{$i}{
        margin: #{$i}px !important;
    }
    .g-#{$i}{
        gap: #{$i}px !important;
    }
    $i:$i+1
}

$i:0;
@while $i<=500{
    .px-#{$i}{
        padding:0 #{$i}px !important;
    }
    .py-#{$i}{
        padding: #{$i}px 0 !important;
    }
    .mx-#{$i}{
        margin:0 #{$i}px !important;
    }
    .my-#{$i}{
        margin: #{$i}px 0 !important;
    }
    $i:$i+1
}

$i:0;
@while $i<=500{
    .pl-#{$i}{
        padding-left: #{$i}px !important;
    }
    .pr-#{$i}{
        padding-right: #{$i}px !important;
    }
    .pt-#{$i}{
        padding-top: #{$i}px !important;
    }
    .pb-#{$i}{
        padding-bottom: #{$i}px !important;
    }
    .ml-#{$i}{
        margin-left: #{$i}px !important;
    }
    .mr-#{$i}{
        margin-right: #{$i}px !important;
    }
    .mt-#{$i}{
        margin-top: #{$i}px !important;
    }
    .mb-#{$i}{
        margin-bottom: #{$i}px !important;
    }
    $i:$i+1
}

$i:0;
@while $i<=100{
   
    .w-p#{$i}{
        width:#{$i}+'%' !important;
    }
    .w-v#{$i}{
        width:#{$i}+'vw' !important;
    }
    .h-p#{$i}{
        height:#{$i}+'%' !important;
    }
    .h-v#{$i}{
        height:#{$i}+'vh' !important;
    }
    $i:$i+1 

}

@each $i in $colors {
    .bg-#{meta.inspect($i)}{
        background-color:$i !important;
    }
    .bc-#{meta.inspect($i)}{
        background-color:$i !important;
    }
    .c-#{meta.inspect($i)}{
        color: $i !important; 
    }
}
.flex{
    display: flex !important;
}
.flex-col{
    flex-direction: column !important;
}
.flex-col-r{
    flex-direction: column-reverse !important;
}
.flex-row{
    flex-direction: row !important;
}
.flex-row-r{
    flex-direction: row-reverse !important;
}
.flex-inh{
    flex-direction: inherit !important;
}
.flex-ini{
    flex-direction: initial !important;
}
.flex-un{
    flex-direction: unset !important;
}
.flex-wrap{
    flex-wrap: wrap !important;
}
.flex-nowrap{
    flex-wrap: nowrap !important;
}
.flex-1{
    flex: 1 !important;
}

.c-primary{
    color: var(--primary);
}



