:root{
    --primary:#1e1e1e;
    --primary-hover:#3e3e3e;
    --primary-active:#000000;
    --primary-disabled:#000000;

    --success:#21cf72;
    --success-hover:#199e57;
    --success-active:#116b3b;
    --success-disabled:#116b3b;

    --info:#2080f0;
    --info-hover:#4098fc;
    --info-active:#1060c9;
    --info-disabled:#1060c9;

    --warning:#f0a020;
    --warning-hover:#fcb040;
    --warning-active:#c97c10;
    --warning-disabled:#c97c10;

    --error:#d03050;
    --error-hover:#de576d;
    --error-active:#ab1f3f;
    --error-disabled:#ab1f3f;
    
    
    --tertiary:#e0e0e6;
    --tertiary-hover:#3e3e3e;
    --tertiary-active:#000000;
    --tertiary-disabled:#a1a1a1;
    --default:#333639;

    --text-color:#fff
}