
$borderStyles:dashed,dotted,double,groove,hidden,inset,none,outset,ridge,solid;
@each $i in $borderStyles{
  .bd-s-#{$i}{
    border-style: $i;
  }
}
@each $i in $borderStyles{
  .bd-s-#{$i}-x{
    border-left-style: $i;
    border-right-style: $i;
  }
  .bd-s-#{$i}-y{
    border-top-style: $i;
    border-bottom-style: $i;
  }
}
@each $i in $borderStyles{
  .bd-s-#{$i}-t{
    border-top-style: $i;
  }
  .bd-s-#{$i}-r{
    border-right-style: $i;
  }
  .bd-s-#{$i}-b{
    border-bottom-style: $i;
  }
  .bd-s-#{$i}-l{
    border-left-style: $i;
  }
}
.bd-s-inh{
  border-style:inherit;
}
.bd-s-ini{
  border-style:initial;
}
$i:0;
@while $i<=10{
  .bd-w-#{$i}{
    border-width: #{$i}px;
  }
  $i:$i+1;
}
$i:0;
@while $i<=10{
  .bd-w-#{$i}-x{
    border-left-width: #{$i}px;
    border-right-width: #{$i}px;
  }
  .bd-w-#{$i}-y{
    border-top-width: #{$i}px;
    border-bottom-width: #{$i}px;
  }
  $i:$i+1;
}
$i:0;
@while $i<=10{
  .bd-w-#{$i}-l{
    border-left-width: #{$i}px;
  }
  .bd-w-#{$i}-r{
    border-right-width: #{$i}px;
  }
  .bd-w-#{$i}-t{
    border-top-width: #{$i}px;
  }
  .bd-w-#{$i}-b{
    border-bottom-width: #{$i}px;
  }
  $i:$i+1;
}