
@use  './colors.scss' as *;
@use './theme.scss' as *;
@use './flex.scss' as *;
@use './background.scss' as *;
@use 'sass:meta';
@use './border.scss';
@use './hover.scss';
@use './grid.scss';
$i:0;
@while $i<=1920{
   
    .w-#{$i}{
        width: #{$i}px ;
    }
    .h-#{$i}{
        height: #{$i}px ;
    }



    $i:$i+1
}
$i:0;
@while $i<=500{
    .p-#{$i}{
        padding: #{$i}px ;
    }
    .m-#{$i}{
        margin: #{$i}px ;
    }
    .g-#{$i}{
        gap: #{$i}px ;
    }
    .fw-#{$i}{
        font-weight: $i ;
    }
    $i:$i+1
}

$i:0;
@while $i<=500{
    .px-#{$i}{
        padding:0 #{$i}px ;
    }
    .py-#{$i}{
        padding: #{$i}px 0 ;
    }
    .mx-#{$i}{
        margin:0 #{$i}px ;
    }
    .my-#{$i}{
        margin: #{$i}px 0 ;
    }
    .fw-#{$i + 500}{
        font-weight: #{$i+500} ;
    }
    $i:$i+1
}

$i:0;
@while $i<=500{
    .pl-#{$i}{
        padding-left: #{$i}px ;
    }
    .pr-#{$i}{
        padding-right: #{$i}px ;
    }
    .pt-#{$i}{
        padding-top: #{$i}px ;
    }
    .pb-#{$i}{
        padding-bottom: #{$i}px ;
    }
    .ml-#{$i}{
        margin-left: #{$i}px ;
    }
    .mr-#{$i}{
        margin-right: #{$i}px ;
    }
    .mt-#{$i}{
        margin-top: #{$i}px ;
    }
    .mb-#{$i}{
        margin-bottom: #{$i}px ;
    }
    $i:$i+1
}

$i:0;
@while $i<=100{
   
    .w-p#{$i}{
        width:#{$i}+'%' ;
    }
    .w-v#{$i}{
        width:#{$i}+'vw' ;
    }
    .h-p#{$i}{
        height:#{$i}+'%' ;
    }
    .h-v#{$i}{
        height:#{$i}+'vh' ;
    }
    .f-#{$i}{
        font-size: #{$i}+'px' ;
    }
    .radius-#{$i}{
        border-radius: #{$i}+'px' ;
        overflow: hidden ;
    }

 
    $i:$i+1 

}
$i:0;
@while $i<=50{
    .radius-p#{$i}{
        border-radius: #{$i}+'%' ;
        overflow: hidden ;
    }
    $i:$i+1 
}

@each $i in $colors {
    .bg-#{meta.inspect($i)}{
        background-color:$i;
    }
    .bc-#{meta.inspect($i)}{
        background-color:$i;
    }
    .c-#{meta.inspect($i)}{
        color: $i ; 
    }
    .bd-c-#{meta.inspect($i)}{
        border-color: $i ; 
    }    
}
@each $i in $colors {
    .bd-c-#{meta.inspect($i)}-x{
        border-left-color: $i ; 
        border-right-color: $i ; 
    }
    .bd-c-#{meta.inspect($i)}-y{
        border-top-color: $i ; 
        border-bottom-color: $i ; 
    }
}
@each $i in $colors {
    .bd-c-#{meta.inspect($i)}-l{
        border-left-color: $i ; 
    }
    .bd-c-#{meta.inspect($i)}-t{
        border-top-color: $i ; 
    }
    .bd-c-#{meta.inspect($i)}-r{
        border-right-color: $i ; 
    }
    .bd-c-#{meta.inspect($i)}-b{
        border-bottom-color: $i ; 
    }
}


.c-primary{
    color: var(--primary);
}

.w-button-loading{
    animation:roll 1s linear infinite;
}

@keyframes roll {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

